#tip-box {
  
  
}


#tip-box {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

#tip-box:target {
  display: block;
}

.tip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: #fff;
  max-width: 800px;
  min-width: 400px;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
}
.tip > .title{
  font-weight: bold;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}
.tip > .message {
  height: 100px;
  padding: 10px;
}
#tip-box  .close {
  position: absolute;
  right: 10px;
  top: 15px;
  height: 20px;
  width: 20px;
  text-decoration: none;
}